span {
  color: white;
}

.form-bg-style {
  background-image: var(--bs-gradient);
  border-radius: 10px;
  padding: 15px;
}

#logo {
  width: 23em;
}

.spinner {
  display: flex;
  justify-content: center;
}
