

$body-bg: #b69e89;

.card-body {
  background-color: #c9e5e2;
} 
.border-light{
  padding-bottom: 1.5rem;
  border: none !important;
}
.justify-content-md-center {
  gap: 10%;
}
a {
  color:#1d968a !important;
}
.border-secondary {
  border: red;
}
.navbar-light{
  font-size: 30px;
  color:#1d968a !important;
}
.navbar-brand{
  font-size:36px !important;
  margin-left:10%;
  padding-right:10% !important;
  color:#1d968a !important;
  font-weight: bold;
}

@import "~bootstrap/scss/bootstrap.scss";
