$color: steelblue;

.my-flix {
  color: $color;
}

$primary: #F25757;
$body-bg: #F2F2F2;

@import "~bootstrap/scss/bootstrap.scss";


.link-header-light {
  color: $white
}

.link-header-light:hover, .link-header-light:focus-within {
  color: $primary
}