$body-bg: #a7d5f2;

@import "~bootstrap/scss/bootstrap.scss";

.card-body {
  background-color: #1d2f40;
}

.card-title {
  color: white;
}

.border-light {
  background-color: #1d2f40;
  border: none;
}

.justify-content-md-center {
  gap: 10%;
}
a {
  color: #1d2f40;
}

.navbar-light {
  font-size: 30px;
  color: #1d2f40;
}
a.navbar-brand {
  font-family: "Bungee Spice";
  font-size: 200%;
  margin-left: 10%;
  text-decoration: none;
}

.text-center {
  color: white;
  font-family: "Roboto";
}

.p.fs-5.card-text {
  position: center;
}
.movie-description {
  color: white;
  font-weight: 30rm;
  text-shadow: 2rm;
}

.fw-bold {
  font-family: "Playfair Display";
  font-size: 20px;
  color: white;
  text-align: center;
}

.navbar-collapse {
  display: right;
}

a.ms-lg-auto.nav-link {
  font-style: bold;
}

.userinfo {
  color: gray;
  font-size: 10px;
}

.form-label {
  color: #1d2f40;
}

.form-control {
  background-color: white;
  cursor: pointer;
}

.fs-3 {
  color: #1d2f40;
  font-family: "Playfair Display";
}

.user-info-container {
  flex: right;
  justify-content: flex-end;
}

p {
  margin-top: 5%;
}

.pt-3 {
  font-size: 20px;
}

.fs-5 {
  margin-bottom: 10px;
}

.user-info-details {
  width: 50%;
  margin-right: 20px;
  font-family: "Handjet";
  font-size: 30px;
}
.mydetails {
  color: white;
  font-family: "Playfair Display";
  font-weight: 40rem;
  font-style: bold;
  white-space: nowrap;
  text-align: center;
}
.table {
  margin-top: 20px;
}

.favorite-movies-row {
  background-color: #1d2f40;
  padding-top: 20px;
}

.contact-form-container {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #1d2f40;
  border-radius: 4px;
  resize: none;
}

.moviefont {
  font-size: 20px;
}

label {
  font-family: "Handjet";
  font-size: 30px;
  width: 100%;
}

.d-grid.gap-2.col-6.mx-auto {
  display: block;
  float: left;
  margin-top: 20%;
  background-color: #1d2f40;
  color: white;
  border-radius: 20px;
}

input {
  border-radius: 20px;
  font-size: 25px;
  vertical-align: middle;
}

.card {
  background-color: #1d2f40;
}

/* Adjust the breakpoints to your needs */
@media (max-width: 767px) {
  .col-lg-6 {
    margin-top: 20px;
  }
}
.heart-animation {
  font-size: 48px;
  text-align: center;
  animation: heartbeat 0.5s infinite;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.custom-modal {
  .modal-content {
    background-color: #ecca5b;
  }

  /* Customize the font size for the modal body */
  .modal-body {
    font-size: 24px; /* Adjust the font size as needed */
  }
}

/* Custom styles for the message */
.custom-message {
  /* Customize the font size for the message */
  font-size: 24px; /* Adjust the font size as needed */
  color: white; /* Text color for the message */
}

.custom-modal2 {
  .modal-content {
    background-color: #ecca5b;
  }

  /* Customize the font size for the modal body */
  .modal-body {
    font-size: 24px; /* Adjust the font size as needed */
    color: white;
  }
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.shake {
  animation: shake 0.5s ease infinite;
}
